torch==2.0.0
torchaudio
torchvision
huggingface-hub
psutil==5.9.4
iopath
fifty
pyyaml==6.0
regex==2022.10.31
tokenizers==0.13.3
huggingface-hub==0.18.0
matplotlib==3.7.0
tqdm==4.64.1
transformers==4.30.0
timm==0.6.13
webdataset==0.2.48
omegaconf==2.3.0
peft==0.2.0
opencv-python==4.7.0.72
gradio==3.47.1
decord==0.6.0
sentence-transformers
accelerate==0.20.3
scikit-image
visual-genome
wandb
ninja
xformers==0.0.20


